.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar.scrolled {
    background-color: #333; 
}

.nav-item {
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease; 
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    color: #fff; 
}

.content {
    margin-top: 60px;
    height: 2000px; 
    background-color: lightblue;
}

